* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 14px;
    color: #333;
}

html,
body,
#app {
    height: 100%;
    margin: 0 auto;
    background: #F9F9F9;
}

#app{
    min-width: 1440px;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #333;
}

input,
button {
    border: none;
    outline: none;
}

dl,
dd,
dt {
    margin: 0;
    padding: 0
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999999;
    font-size: 15px;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
    font-size: 15px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999999;
    font-size: 15px;
}
.el-textarea__inner{
    border: 1px solid #fff;
}
.el-input.is-disabled .el-input__inner{
    background: #FCFDFF;
}

/* 滚动条美化 */
::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1cece;
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(192, 189, 189);
}