.h5Home {
  height: 100%;
  display: flex;
  flex-direction: column;

  .head {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    header {
      width: 100%;
      font-size: 0.32rem;
      line-height: 0.8rem;
      text-align: center;
      background: #19a9eb;
      color: #fff;
    }

    // 抛转名称
    .tossName{
      width: 100%;
      height: 0.4rem;
      font-size: 0.2rem;
      text-align: center;
      line-height: 0.4rem;
    }
    .agree{
      color: #6DD400;
      background: #E2F6CC;
    }
  }

  .cont {
    // height: calc(100% - 3.3rem);
    // padding: 2.32rem 0 0.98rem 0;
    height: calc(100% - 1.78rem);
    padding: 0.8rem 0 0.98rem 0;
  }

  .cont {
    height: calc(100% - 3.3rem);
    padding: 2.32rem 0 0.98rem 0;
    .serial {
      background: #fff;
      height: 0.64rem;
      padding: 0 0.32rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .serial_label,
      .serial_cont {
        font-size: 0.2rem;
        color: #666666;
      }
    }
    .store-list-group-title {
      font-size: 0.2rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      background: #f9f9f9;
      color: #999;
    }

    .storeList {
      height: 100%;
      overflow: hidden;
    }

    .stepInner {
      display: flex;
      flex-direction: column;
      font-size: 0.28rem;
      padding: 0.3rem;
      background: #fff;

      h5 {
        margin-bottom: 0.2rem;
      }

      .stepLabel {
        color: #409EFD;
      }

      .stepState {
        color: #333333;
      }

      .stepMember {
        color: #333333;
        margin-bottom: 0;
      }
    }
  }

  // 抛转页 内容
  .cont_toss{
    height: calc(100% - 2.2rem);
    padding: 1.2rem 0 0rem 0;
  }

  footer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 0.98rem;
    background: #fff;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .btn_operation {
      width: 1.4rem;

      &:nth-child(1) {
        margin-right: 1rem;
      }
    }
  }
}
.van-tabs{
  padding-bottom: 0.98rem !important;
}
.van-cell__title{
  color: #999999 !important;
}
.van-cell__value{
  color: #323233 !important;
}
.van-field__control{
  text-align: right !important;
}
.label {
  color: #999999 !important;
}