.h5Home {
  height: 100%;
  display: flex;
  flex-direction: column;

  .head {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    header {
      font-size: 0.32rem;
      line-height: 0.8rem;
      text-align: center;
      padding: 0 0.2rem;
      background: #19a9eb;
      color: #fff;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    // 抛转名称
    .tossname {
      width: 100%;
      height: 0.4rem;
      font-size: 0.2rem;
      text-align: center;
      line-height: 0.4rem;
    }

    .agree {
      color: #6DD400;
      background: #E2F6CC;
    }
    .back{
      color: #FBD951;
      background: #FEF7DC;
    }
    .reject{
      color: #F56C6C;
      background: #FDE2E2;
    }
  }

  .cont {
    // height: calc(100% - 3.3rem);
    // padding: 2.32rem 0 0.98rem 0;
    height: calc(100% - 1.78rem);
    padding: 0.8rem 0 0.98rem 0;

    .serial {
      background: #fff;
      height: 0.64rem;
      padding: 0 0.32rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .serial_label,
      .serial_cont {
        font-size: 0.2rem;
        color: #666666;
      }
    }

    .store-list-group-title {
      font-size: 0.2rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      background: #f9f9f9;
      color: #999;
    }

    .storeList {
      height: 100%;
      overflow: hidden;
    }

    .stepInner {
      display: flex;
      flex-direction: column;
      font-size: 0.28rem;
      padding: 0.3rem;
      background: #fff;

      h5 {
        margin-bottom: 0.2rem;
      }

      .stepLabel {
        color: #409EFD;
      }

      .stepState {
        color: #333333;
      }

      .stepMember {
        color: #333333;
        margin-bottom: 0;
      }
    }

    .files{
      background: #fff;
      .file{
        display: flex;
        align-items: center;
        padding: 0.2rem;
        span{
          color: #409EFD;
          text-decoration: underline;
          margin-left: 0.3rem;
        }
      }
    }
  }

  // 抛转页 内容区域
  .cont_toss {
    height: calc(100% - 2.2rem);
    padding: 1.2rem 0.3rem 0rem 0.3rem;
    background-color: #FFFFFF;
    overflow: overlay;

    // 流程步骤选择
    .flowBox {
      width: 100%;
      height: 1.64rem;
      background-color: #F9F9F9;
      border-radius: 0.08rem;
      margin: 0.2rem 0 0.2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .processName,
      .processPeo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 0.2rem;

        img {
          width: 0.26rem;
          height: 0.3rem;
          margin-right: 0.1rem;
          flex-shrink: 0;
        }

        span {
          display: block;
          width: 1.5rem;
          line-height: 0.5rem;
          font-size: 0.28rem;
          color: #666666;
          flex-shrink: 0;
        }

        .mainPeo {
          width: 4.46rem;
          height: 0.52rem;
          line-height: 0.52rem;
          background: #FFFFFF;
          border-radius: 0.08rem;
          padding: 0 0.2rem;
          font-size: 0.28rem;
          color: #333333;
          border: 0.02rem solid #DCDFE6;
          box-sizing: border-box;
          flex-shrink: 0;
        }

        // 下一步骤选框
        .mainSelect {
          width: 4.46rem;
          height: 0.52rem;
          line-height: 0.52rem;
          background: #FFFFFF;
          border-radius: 0.08rem;
          font-size: 0.26rem;
          color: #333333;
          border: 0.02rem solid #DCDFE6;
          box-sizing: content-box;
          flex-shrink: 0;

          .van-dropdown-menu{
            width: 4.46rem;
            height: 0.52rem;
            border-radius: 0.08rem;
            /deep/ .van-dropdown-menu__bar{
              width: 4.46rem;
              height: 0.52rem;
              border-radius: 0.08rem;
              justify-content: left;
              box-shadow: none;
              .van-dropdown-menu__item{
                width: 4.46rem;
                height: 0.52rem;
                /deep/ .van-dropdown-menu__title{
                  width: 4.44rem;
                  height: 0.52rem;
                  .van-ellipsis{
                    width: 4.44rem;
                    height: 0.52rem;
                  }
                }
                /deep/ .van-dropdown-menu__title::after{
                  right: 0.4rem;
                }
              }
            }
            /deep/ .van-dropdown-item .van-cell__title span{
              width: 4.6rem
            }
          }
        }

      }
    }

    // 分割线
    .arrowImg {
      height: 0.36rem;
      background: url(../../assets/img/jiantou.png) no-repeat;
      background-size: 16px 18px;
      background-position: center;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
    }

    // 审批意见
    .sugg {
      width: 100%;
      height: 1.32rem;
      margin: 0.2rem 0 0.2rem 0;

      .top {
        height: 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.28rem;
        margin-bottom: 0.2rem;

        .van-dropdown-menu{
          width: 1.3rem;
          height: 0.4rem;
          .van-dropdown-menu__bar{
            width: 1.3rem;
            height: 0.4rem;
            box-shadow: none;
            .van-dropdown-menu__title{
              color: #409EFD;
              font-size: 0.28rem;
              line-height: 0.4rem;
            }
            .van-dropdown-menu__title::after{
              border-color: transparent transparent #409EFD #409EFD
            }
          }
        }
      }
      .note {
        width: 100%;
        height: 0.8rem;
        .van-cell{
          font-size: 0.28rem;
          width: 100%;
          height: 0.8rem;
          line-height: 0.4rem;
          border: 1px solid #DCDFE6;
          border-radius: 0.08rem;
        }
      }
    }

    // 提醒
    .remind {
      width: 100%;
      height: 2.08rem;
      margin: 0.2rem 0 0.2rem 0;

      // 提醒相关人员
      .remindMember {
        margin-bottom: 7px;

        .opinionName {
          height: 0.3rem;
          font-size: 0.28rem;
          margin-bottom: 0.2rem;
          font-weight: bold;
        }

        .checks {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          .van-checkbox{
            width: 3.3rem;
            height: 0.64rem;
            line-height: 3.3rem;
            border: 1px solid #DCDFE6;
            border-radius: 0.08rem;
            box-sizing: border-box;
            padding-left: 0.2rem;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            .van-checkbox__label{
              font-size: 0.28rem;
            }
          }
        }

        .msgBox {
          width: 1240px;
          min-height: 36px;
          border-radius: 4px;
          box-sizing: border-box;
          border: 1px solid #dcdfe6;
          font-size: 14px;
          color: #333;
          padding: 8px 15px;
          line-height: 20px;
        }
      }

      .btns {
        width: 210px;
        margin: 0 auto;
        margin-top: 30px;

        button {
          width: 90px;
          height: 36px;
          line-height: 36px;
          padding: 0;
        }
      }

      // 提醒方式
      
    }

    // 消息内容
    .msg {
      width: 100%;
      height: 2.2rem;
      margin: 0.2rem 0 0.2rem 0;

      .opinionName {
        height: 0.3rem;
        font-size: 0.28rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
      }

      .note {
        border: 0.02rem solid #DCDFE6;
        border-radius: 0.08rem;
      }
    }
  }

  footer {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 0.98rem;
    background: #fff;
    bottom: 0;
    left: 0;

    .btn_check,.btn_add {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .btn_operation {
      width: 1.4rem;

      &:nth-child(1) {
        margin-right: 1rem;
      }
    }

    .btn_return,
    .btn_nextUp {
      width: 2.7rem;
      height: 0.64rem;
      border-radius: 0.08rem;
    }
  }
}

.van-tabs {
  padding-bottom: 0.98rem !important;
}

.van-cell__title {
  color: #999999 !important;
}

.van-cell__value {
  color: #323233 !important;
}

.label {
  color: #999999 !important;
}

.handling {
  color: #F56C6C;
}

.van-skeleton {
  padding-top: 0.5rem !important;
}
.w2rem{
  width: 2rem!important;
}